<h3>Login</h3>

<% if @errors %>
  <% @errors.each do |error| %>
    <ul class="error" style="list-style: none;">
      <li class="error"><%= error %></li>
    </ul>
  <% end %>
<% end %>

<form method="POST" action="/sessions">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>